{% include 'emp/navbar.html' %}
          <div class="panel">
            <div class="row-md-12">
              <div class="col">
                <div class="card">

                </div>
              </div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <div class="">
                  <div class="card-body">
                    <table class="table">
                      <h1 style="align-text-centre"></h1>
                          <h5 style="align-text-centre">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h5>
                          <h1 style="font:3em Nasalization">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Job Departments</h1>
                          <h5 style="align-text-centre">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h5>
                      <thead>
                        <tr>
                            <th style="font: 1em Nasalization; color:white">S.NO.</th>
                          <th style="font: 1em Nasalization; color:white">job_ID</th>
                          <th style="font: 1em Nasalization; color:white">name</th>
                          <th style="font: 1em Nasalization; color:white">description</th>
                          <th style="font: 1em Nasalization; color:white">salary_range</th>
                          <th style="font: 1em Nasalization; color:white">dept_head</th>
                          <th style="font: 1em Nasalization; color:white">ACTION</th>
    
                        </tr>
                      </thead>
                    <a href="/emp/export_data_to_excel/{{e.id}}" class="btn btn-dark btn-sm">Export to excel</a>
                    <!--<a href="/emp/import_data_to_db/{{e.id}}" class="btn btn-dark btn-sm">Import excel</a>//-->
                      <tbody>
                        {% for e in emps %}

                        <tr>
                          <td style=" color:white">{{forloop.counter}}</td>
                          <td style=" color:white">{{e.job_ID}}</td>
                          <td style=" color:white">{{e.name}}</td>
                          <td style=" color:white">{{e.description}}</td>
                          <td style=" color:white">{{e.salary_range}}</td>
                          <td style=" color:white">{{e.dept_head}}</td>
                          <td>
                           <a href="/emp/delete-job/{{e.id}}" class="btn btn-danger btn-sm">Delete</a>
                           <a href="/emp/update-job/{{e.id}}" class="btn btn-dark btn-sm">Update</a>

                          </td>
                        </tr>
                        {%endfor%}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
         