<nav class="navbar navbar-expand-lg" style="background-color: #00ABB3;">
    <div class="container-fluid">
      <a class="navbar-brand" href="/emp/home/">Employee Management System</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          {% comment %} <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/emp/home/">Home</a>
          </li> {% endcomment %}
          <li class="nav-item">
            <a class="nav-link" href="/emp/add-emp/">Add Employee</a>
          </li>
          <li><a class="nav-link" href="/emp/view_employee/">View Table</a></li>
             </li>
            <li class="nav-item">
            <a class="nav-link" href="/emp/add-job/">Add Jobs</a>
          </li>
          <li><a class="nav-link" href="/emp/job-dept/">Job Department Table</a></li>
             <li class="nav-item">
            <a class="nav-link" href="/emp/add-project/">Add Project</a>
          </li>
            <li class="nav-item">
            <a class="nav-link" href="/emp/Project/">Projects</a>
          </li>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="/emp/add-leave/">Add leave</a>
          </li>
            <li class="nav-item">
            <a class="nav-link" href="/emp/leave/">leaves</a>
          </li>
            <li class="nav-item">
            <a class="nav-link" href="/emp/add-salary/">Add Salary</a>
          </li>
            <li class="nav-item">
            <a class="nav-link" href="/emp/salary/">Salary</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>